<div id="loader-wrapper">
	<div id="loader"></div>
	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>
</div>
<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
	<div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">
		<div class="flex flex-col overflow-y-auto md:flex-row">
			<div class="h-32 md:h-auto md:w-1/2">
				<img aria-hidden="true" class="object-cover w-full h-full dark:hidden" src="/images/setting-light.png"
					alt="update" />
				<img aria-hidden="true" class="hidden object-cover w-full h-full dark:block"
					src="/images/setting-dark.png" alt="update" />
			</div>
				<div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
				<div class="w-full">
					<h1 class="underline mb-4 text-xl text-center font-semibold text-gray-700 dark:text-gray-200"> &lt;
						Premium
						Dashboard &gt; </h1>	
							<form action="/premium/add" method="post">			
						<label class="block mt-4 text-sm">						
					   <button
							class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
							id="/premium/add" type="submit">Add Premium</button>
					</form>		
						<form action="/premium/delete" method="post">  							
						<label class="block mt-4 text-sm">						
					   <button
							class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
							id="/premium/delete" type="submit">Delete Premium</button>
					</form>
						<form action="/premium/limit" method="post">
						<label class="block mt-4 text-sm">						
					   <button
							class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
							id="/premium/delete" type="submit">Delete Limit Premium</button>
					</form>
					<hr class="my-8" />
					<p class="mt-4 text-center font-medium dark:text-white">Go To   <a
							class="text-sm text-red-600 dark:text-red-400 hover:underline" href="/docs">
							<span class="hover:underline">Dashboard</span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>