<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Auth - SVL Api</title>
  <link rel="stylesheet" href="/css/tailwind.output.css" />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <script src="/js/init-alpine.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <link rel="shortcut icon"
    href="https://cdn.freebiesupply.com/logos/large/2x/the-ground-round-2-logo-png-transparent.png">
  <meta property="og:title" content="XCoders APIs - Auth" />
  <meta name="description" content=" Farhannnnnn ">
  <meta property="og:image" content="https://api-xcoders.xyz/images/IMG-20211115-WA0004.jpg">
</head>

<body>
  <%- include('msg') %>
  <%- include('errors') %>
 
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    setTimeout(function () {
      $('body').addClass('loaded');
    }, 3000);
  });
</script>

</html>